<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes informations</title>
</head>
<body>
    <!-- Affichage du code QR -->
    <img src="data:image/png;base64,{{ qr_data.qrcode }}" alt="QR Code">
    
    <!-- Lien de téléchargement du contrat de location -->
    <a href="{{ url_for('download_contract', name=qr_data.name, prenom=qr_data.prenom, date_debut=qr_data.date_debut, date_fin=qr_data.date_fin) }}">Télécharger le contrat de location</a>
</body>
</html>
